.holder {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(236, 232, 232);
}

.icon-image {
    position: absolute;
    height: 64px;
    width: 65px;
    top: 10%;
    left: 48%;
    margin-bottom: 20px;
    background-image: url(/assets/images/svg/login-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-signin {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateY(50%);
    background-color: #f5f8fa;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
    font-size: 20px;
    height: 90px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 25px;
}

.pointer {
    cursor: pointer;
}