<div class="holder">
    <div class="icon-image"></div>
    <form class="form-signin ">
        <h1 class="text-center h3 mb-3 font-weight-bold">Login Page</h1>

        <div class="form-group font-weight-normal">
            <label for="email ">Enter User ID</label>
            <input type="email" class="form-control" type="email" placeholder="email" required="" autofocus="" id="email">
        </div>

        <div class="form-group font-weight-normal">
            <label for="pwd">Enter Password</label>
            <input type="password" class="form-control" type="password" placeholder="password" required="" autofocus="" id="pwd">
        </div>

        <button (click)="navigateTo('dashboard')" type="submit" class="btn btn-lg btn-primary btn-block font-weight-bold form-control ">Submit</button>

        <div class="font-weight-normal ">
            <a class="ForgetPwd pointer " value="Login" (click)="navigateTo('forgetpass')">Forget Password?</a>
        </div>

        <div class="font-weight-normal ">
            <a class="ChangePwd pointer " value="Login" (click)="navigateTo('changepass')">Change Password?</a>
        </div>

    </form>
</div>