.form-gap {
    width: 100%;
    height: 26%;
    max-width: 500px;
    margin: auto;
    /* top: 50%;
    left: 50%; */
    padding-top: 70px;
    transform: translateY(50%);
    background-color: #f5f8fa;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.forgetpass-img {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 5%;
    left: 48%;
    background-image: url(/assets/images/svg/forgetpass.svg);
    background-repeat: no-repeat;
    background-size: cover;
}