<div class="holder">
    <div class="icon-image"></div>
    <form class="form-signin ">
        <h1 class="text-center h3 mb-3 font-weight-bold">Change Password</h1>
        <div class="form-group font-weight-bold pass-show">
            <label for="pwd">Current Password</label>
            <input type="password" class="form-control" type="password" placeholder="password" required="" autofocus="" id="pwd">
        </div>

        <div class="form-group font-weight-bold pass-show">
            <label for="pwd">New Password</label>
            <input type="password" class="form-control" type="password" placeholder="password" required="" autofocus="" id="pwd">
        </div>

        <div class="form-group font-weight-bold pass-show">
            <label for="pwd">Confirm Password</label>
            <input type="password" class="form-control" type="password" placeholder="password" required="" autofocus="" id="pwd">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block font-weight-bold form-control ">Save Changes</button>
    </form>
</div>