<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dashboard</a>
    <a class="nav-link" href="">LoggedIn User</a>
    <a class="nav-link" href="#">Log out</a>
</nav>

<div class="container-fluid">
    <div class="row bg-light">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span data-feather="dashboard"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span data-feather="dashboard"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span data-feather="dashboard"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span data-feather="dashboard"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span data-feather="dashboard"></span> Dashboard
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box active-bg-color">
                                <div class="title">Active</div>
                                <div class="number">{{empStatusRecord.active}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box inactive-bg-color">
                                <div class="title">Inactive</div>
                                <div class="number">{{empStatusRecord.inactive}}</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box total-bg-color">
                                <div class="title">Total</div>
                                <div class="number">{{empStatusRecord.active + empStatusRecord.inactive}}</div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box active-emp-bg-color">
                                <div class="title">Active Employee</div>
                                <div class="number">{{empStatusRecord.activeEmp}}</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box inactive-emp-bg-color">
                                <div class="title">Inactive Employee</div>
                                <div class="number">{{empStatusRecord.inactiveEmp}}</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card mb-4 shadow-sm box-outer">
                            <div class="box total-emp-bg-color">
                                <div class="title">Total</div>
                                <div class="number">{{empStatusRecord.activeEmp+empStatusRecord.inactiveEmp}}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Expiry Date</th>
                            <th>Index1</th>
                            <th>Index2</th>
                            <th>Industry</th>
                            <th>Email Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of empData; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.expDate}}</td>
                            <td>{{emp.index1}}</td>
                            <td>{{emp.index2}}</td>
                            <td>{{emp.industry}}</td>
                            <td>{{emp.emailId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>