.container {
    width: 100%;
}

.column-bar {
    position: relative;
    height: 50%;
    width: 50px;
    /* float: left; */
}


/* .status-box {
    position: relative;
    height: 50%;
    width: 100%;
    margin-right: 50px;
    float: left;
} */

.row-panel {
    position: relative;
    height: 160px;
    width: 250px;
    bottom: 395px;
    left: 350px;
    margin-top: 20px;
    padding: 30px;
    font-size: 20px;
    float: left;
}

.active-bg-color {
    background-color: rgb(241, 166, 238);
}

.inactive-bg-color {
    background-color: rgb(202, 240, 131);
}

.total-bg-color {
    background-color: rgb(110, 240, 229);
}

.active-emp-bg-color {
    background-color: rgb(236, 201, 136);
}

.inactive-emp-bg-color {
    background-color: rgb(194, 160, 223);
}

.total-emp-bg-color {
    background-color: rgb(170, 185, 236);
}

.box-outer {
    width: 100%;
    height: 90%;
}

.box {
    width: 350px;
    height: 250px;
    top: 20px;
    font-size: 20px;
}

.number {
    position: relative;
    font-size: 120px;
    top: 20px;
    color: #ffffff;
    opacity: 0.8;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #ffffff;
    opacity: 0.8;
}